.App {
  text-align: center;
  background-color: white;
  max-width: 100%;
}

.AppHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.FossilsList {
  list-style: none;
  overflow-y: none;
  padding: 0px;
  width: 50%;
}